CREATE DATABASE veiculos_db;

USE veiculos_db;

CREATE TABLE tbl_veiculos (
	id INT AUTO_INCREMENT PRIMARY KEY,
    marca VARCHAR(50) NOT NULL,
    modelo VARCHAR(50) NOT NULL,
    ano_fabricacao INT NOT NULL,
    cor VARCHAR(50) NOT NULL,
    preco INT NOT NULL,
    quilometragem INT NOT NULL,
    status_disponibilidade ENUM ('disponível', 'vendido') NOT NULL
);

INSERT INTO tbl_veiculos (marca, modelo, ano_fabricacao, cor, preco, quilometragem, status_disponibilidade)
VALUES
('Toyota', 'Corolla', 2020, 'Prata', 95000.00, 45000, 'disponível'),
('Ford', 'Fiesta', 2018, 'Preto', 55000.00, 60000, 'vendido'),
('Honda', 'Civic', 2022, 'Branco', 120000.00, 15000, 'disponível');

select * from tbl_veiculos;